<% layout('./layouts/boilerplate') %> 
<link rel="stylesheet" href="/stylesheets/stars.css">

<div class="row">
    <div class="col-6">
        <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title"><%= writing.title %></h5>
              <div class="text-muted mb-3">
                Submitted By <%= writing.author.username %> 
              </div>  
              <p class="card-text" style="white-space: pre-wrap"><%= writing.writingText %></p>
            </div>
            <% if((currentUser && writing.author.equals(currentUser._id)) || (currentUser && currentUser.isAdmin)) { %> 
                <div class="card-body">
                <a href="/writings/<%= writing._id %>/edit" class="card-link btn btn-info">Edit</a>
                <form class="d-inline" action="/writings/<%= writing._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
                </div>
            <% } %> 
            <div class="card-footer text-muted">
                2 days ago
            </div>        
        </div>       
    </div>
    <div class="col-6">

        <% if(currentUser){ %> 
        <h2>Leave a Rating</h2>
        <form class="mb-3" action="/writings/<%= writing._id %>/ratings" method="POST">
            <div class="mb-3">
                <fieldset class="starability-basic">
                    <input type="radio" id="no-rate" class="input-no-rate" name="rating[ratingValue]" value="1" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="rating[ratingValue]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="rating[ratingValue]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="rating[ratingValue]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="rating[ratingValue]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="rating[ratingValue]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
            </div>
            <div class="mb-3">
                <label class="form-label" for="body">Review: </label>
                <textarea class="form-control" name="rating[body]" id="body" cols="30" rows="3" required></textarea>
            </div>
            <button class="btn btn-success">Submit</button>
        </form>
        <% } %> 

        <% for(let rating of writing.ratings) {%> 
            <div class="card mb-3">
                <div class=" card-body">
                    <h5 class="card-title"><%= rating.author.username %></h5>    
                    <p class="starability-result" data-rating="<%= rating.ratingValue %>"></p>                                     
                    <p class="card-text" style="white-space: pre-wrap"><%= rating.body %> </p>
                    <% if((currentUser && rating.author.equals(currentUser._id)) || (currentUser && currentUser.isAdmin)) { %> 
                        <form action="/writings/<%= writing._id%>/ratings/<%= rating._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    <% } %> 
                </div>
            </div>
        
        <% } %> 
    </div>
</div>
